<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>compileBitcode</key>
    <true/>
    <key>destination</key>
    <string>export</string>
    <key>method</key>
    <string>development</string>
    <key>teamID</key>
    <string>ZPM2H2GDXG</string>
    <key>provisioningProfiles</key>
	<dict>
		<key>com.duchysoftware.jenkinsdemo2</key>
		<string>JenkinsDemo2-Debug</string>
	</dict>
</dict>
</plist>
